* {
  margin: 0;
}

.dropDown-Content {
  display: flex;
  flex-direction: column;
  font-family: none;
}
.dropDown-desktop {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.menu {
  margin-right: 200px;
}
.desktop {
  text-align: right;
}
.menu a {
  padding-left: 20px;
}

.dropDown i {
  cursor: pointer;
}
.hidden {
  display: none;
}
a:hover {
  color: red;
}

@media (max-width: 768px) {
  .dropDown-desktop {
    display: none;
  }
  .menu {
    position: relative;
  }

  .menu-text {
    text-align: center !important;
    margin-bottom: 50px;
    margin-right: 100px;
  }
  hr {
    display: none;
  }
  .homeText {
    display: none;
  }
}
@media (min-width: 768px) {
  .dropDown i {
    display: none;
  }
}

/*horizontal line */
hr {
  width: 80%;
  margin: auto;
  border: solid red 1px;
  margin-bottom: 50px;
}

/*home */

.main {
  position: relative;

  height: 80vh;
  width: 100%;
  background-size: cover;
  font-family: "Ysabeau", sans-serif;
  color: white;

  font-weight: bolder;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}
.main::before {
  content: "";
  background-image: url(/Vintage-Car-club/Image/Redcar.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.9;
}

.nav,
.home,
hr {
  position: relative;
}
.homeText {
  text-align: center;
  font-size: 30px;
}
.header {
  padding-left: 40px;
  font-size: 20px;
}
.menu-text {
  position: relative;
  text-align: left;
  left: 150px;
  top: 30px;
  font-size: 30px;
}
.desktop {
  position: relative;
}
