* {
  margin: 0;
}

:root {
  --font-family: "Ysabeau", sans-serif;
}
body {
  background-color: #ecf2ff;
}
.dropDown-Content {
  display: flex;
  flex-direction: column;
  font-family: none;
}
.dropDown-desktop {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.fa-solid {
  padding-left: 20px;
  padding-top: 20px;
}
.menu {
  margin-right: 200px;
}
.desktop {
  text-align: right;
}

.active {
  color: red;
}
.menu a {
  padding-left: 20px;
}

.dropDown i {
  cursor: pointer;
}
.hidden {
  display: none;
}

@media (max-width: 768px) {
  .dropDown-desktop {
    display: none;
  }
  .menu {
    position: relative;
  }

  .menu-text {
    text-align: center !important;
    margin-bottom: 50px;
    margin-right: 100px;
  }
  hr {
    display: none;
  }
  .homeText {
    display: none;
  }
}
@media (min-width: 768px) {
  .dropDown i {
    display: none;
  }
}

/*horizontal line */
hr {
  width: 80%;
  margin: auto;
  border: solid red 1px;
  margin-bottom: 50px;
}

/*home */

.main {
  position: relative;
  height: 80vh;
  width: 100%;
  background-size: cover;
  font-family: "Ysabeau", sans-serif;
  color: white;

  font-weight: bolder;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
}
.main::before {
  content: "";
  background-image: url(/Vintage-Car-club/Image/Redcar.jpg);
  filter: blur(5px);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.9;
}

.nav,
.home,
hr {
  position: relative;
}
.homeText {
  text-align: center;
  font-size: 30px;
}
.header {
  padding-left: 40px;
  font-size: 20px;
}
.menu-text {
  position: relative;
  text-align: left;
  left: 150px;
  top: 30px;
  font-size: 30px;
}
.desktop {
  position: relative;
}

/*main body */

.body {
  display: flex;
  flex-wrap: wrap;
  background-color: #ecf2ff;
  color: red;
  height: 200px;
  padding: 20px;
  font-family: var(--font-family);
  font-weight: bold;
}
.text {
  flex-basis: 50%;
  min-width: 400px;
  padding-top: 20px;
  font-size: 18px;
}
.text h2 {
  text-align: center;
}
.button {
  margin-top: 10px;
  background-color: red;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  vertical-align: baseline;
}

/*gallery */
.gallery,
.gallery1,
.gallery2 {
  padding-top: 20px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.border {
  border: solid 1px black;
  padding: 20px;
  background-color: white;
}
.image-container,
.image-container1,
.image-container2 {
  font-size: 20px;
  font-weight: bold;
  flex: 1;
  min-width: 300px;
  margin: 0 10px;
}
.image-container img,
.image-container1 img,
.image-container2 img {
  width: 100%;
  height: auto;
}

.lazy {
  filter: blur(20px);
  transition: filter 0.8s ease;
}
